export MAVEN_PACKAGE="forgerock-persistit"

# Per Peter Major: "The actual release was built with -DskipTests too..."
# Source: https://gist.github.com/aldaris/fe234d76f3940c42ae9bb5aa69b8e98e
export MVN_COMPILE_ARGS="${WREN_DEFAULT_MVN_COMPILE_ARGS:-} -DskipTests"
